html {
  background-color: grey;
  background: url(' http://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/Grass-Grounds-Coverings-PNG-Clipart/Grass_Element_PNG_Clipart_Picture.png?m=1399681002')  repeat-y center center fixed; ;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height:100%;
  opacity: .9;

  font-family: Oswald;
}


body { 
	margin: 0 auto;
    margin-top: 5%;
    border: none;
    border-radius: 20%;
    background: none;
    
}


			/*				Container structure							*/


#mainSelection {
	width:100%;
	height:90%;
	margin: 0 auto;
	margin-top: 30px;



}


.choice {
	background-color: white;
	border:solid black 8px;
	border-radius: 20px;
	height: 200px;
	width: 240px;
	padding-top: 5%;
	margin: 6%;
	text-align: center;
	box-shadow: inset 0 0 1em #5ae637, 0 0 2em black;
}
	

	.choice > a,
	#homeIcon {
		font: 22px Oswald;
		margin: 0 auto;
		color: black;
		font-weight: 600;		
	}


#title {
	text-align: center;
	font-family: Oswald;
	font-size: 72px;
	font-weight: 600;
	color: #0a0a0a;

}

#scheduleOutline {
	font-family: Oswald;
	height: 842px; /* print as letter*/
	width: 595px;
	//height: 297mm;/* print as A4 */
	//width:210mm;
	background-color: white;
	border: solid black 2px;
	box-shadow: 4px 2px 4px black;
	margin: 0 auto;
	margin-top: 0;
	margin-left:auto;
	margin-right: auto;
}


#address {
	list-style: none;
	float: right;
	margin-right:25%;
	margin-top: 65%;
}


h3 {
	padding-left:1%;
}

