<!DOCTYPE html>
<html>
	<head>
		
		<% include partials/header.ejs %>
	</head>
		<body>
			<h1 id='title'> Mike's Mowing Service </h1>
			<div class="container" id="mainSelection">
				<div class="row">
					<div class="col-md-4 choice"><a href='/addNewCustomer'>Add New Customer</a></div>
					<div class="col-md-4 choice"><a href='/technicianWeeklySchedule'>Technician Weekly Work Schedule</a></div>
					<div class="col-md-4 choice"><a href='/customerInvoices'>Customer Invoices</a></div>
				</div>	
			</div>

			
	</body>
</html>